<h1>HTMX examples</h1>

<table>
  <thead>
    <tr>
      <th>Pattern</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to 'Click to edit', click_to_edit_examples_path %>
      </td>
      <td>
        Demonstrates inline editing of a data object
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to 'Bulk edit', bulk_update_examples_path %>
      </td>
      <td>
        Demonstrates bulk updating of multiple rows of data
      </td>
    </tr>
  </tbody>
</table>
